/* prettier-ignore */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: oklch(51.1% 0.262 276.966);
  --color-primary-hover: oklch(58.5% 0.233 277.117);
  --color-primary-active: oklch(45.7% 0.24 277.023);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-hover: oklch(70.4% 0.14 182.503);
  --color-secondary-active: oklch(51.1% 0.096 186.391);

  /* Theme Colours */
  --color-darkOutline: rgb(26, 15, 83);
  --color-darkAccent: rgb(5, 0, 28);

  --color-darkBg: oklch(21% 0.034 264.665);
  --color-lightbg: rgb(247, 243, 255);
}

.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset var(--color-secondary);
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

.loader2 {
  width: 45px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-secondary) 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}

/* Animations */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slideUp {
  opacity: 0;
  animation: slideUp 0.5s 1 normal forwards;
}
/* --- */

input::placeholder {
  opacity: 0.4;
}
